# fly.toml app configuration file generated for festival-fund-manager on 2026-02-13T11:30:21+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'festival-fund-manager'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0


[env]
  DATABASE_URL = '/data/festival.db'
  NODE_ENV = 'production'

[mounts]
  source = 'festival_data'
  destination = '/data'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
